* {
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(#e66465, #9198e5);
  font-family: "Sriracha", cursive;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  
}
.key {
  border: 0.3em solid #000;
  border-radius: 10px;
  margin: 0.7em;
  padding: 0.5em 1em;
  text-align: center;
  color: #ff0;
  text-shadow: 0 0 15px black;
  width: 75px;
  transition: all .2s ease-in-out;
}
.key p {
  font-size: 40px;
  color: #fff;
}

.playing {
  transform: scale(3);
  border-color: #e66465;
  box-shadow: 0 0 1rem #9198e5;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #e66465;
}
